.cardButton{
    font-size: large;
    border:3px solid rgb(236, 240, 236);
}
.cardButton:hover{
    font-weight: bold;
	background: none;
	text-decoration: none;
    transform: scale(1.2);
}
.cardButton.grow{
    transition: all .2s ease-in-out;
}
.titleDiv{
    height: 50%;
}
.buttonDiv{
    position: relative;
    margin-top: 7%;
}