
.flex-container-allPage{
    border-width: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.flex-container-root-buttons{
    flex-direction: column;
    height: 100%;
    width: 25%;
    margin-right: 2%;
}


/* arrows up and down */
.flex-container-arrow-buttons-before{
    display: flex;
    flex-direction: column;
}
.flex-container-arrow-buttons-after{
    display: flex;
    flex-direction: column;
    
}

/* children from right to the root and input filter field */
.flex-container-input-children-after{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.flex-container-input-children-before{
    display: flex;
    flex-direction: column;
    width: 25%;
}
/* input field */
.flex-container-input-children-before input{
    margin-bottom: 5%;
    width: 90%;
    height: 3em;
    margin-left: 10%;
}
.flex-container-input-children-after input{
    margin-bottom: 5%;
    width: 90%;
    height: 3em;
    margin-left: 10%;
}
/* delete the mark beside the list of right children */
.list-of-children{
    list-style-type: none;
}
.dataArrows-before{
    width: 20%;
    margin-left: 2%;
}
.dataArrows-after{
    width: 20%;
}

