.mainDiv{
    display: flex;
    flex-direction: column;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
    margin-top: 10%;
    margin-left: 50%;
	z-index: 1;
}

input.file {
	position: absolute;
	text-align: right;
	-moz-opacity:0 ;
    margin-top: 10%;
    margin-left: 50%;
    opacity: 0;
    z-index: 2;
    filter: opacity(0);
}
.normalInput{
    margin-top: 15%;
    margin-left: 50%;
}

.uploadButtonNormal{
    margin-top: 5%;
    margin-left: 50%;
    width: 20%;
}

.uploadButtonFake{
    margin-top: 1%;
    margin-left: 50%;
    width: 20%;

}