.root{
    background-color: rgb(243, 43, 216);
    width: 5em;
    height: 5em;
    border-radius: 50px;
    margin-top: 2em;
    font-size: large;
    font-family: cursive;
    border-right-color: rgb(157, 8, 194);
    border-right-color: rgb(157, 8, 194);
    border-width: thick;

}

.input{
    margin-top: 1em;
    margin-bottom: 1em;
}

.root button{
    background-color: rgb(253, 253, 252);
    border-radius:100px;
    margin-top: 1.5em;
    margin-left: 0.5em;

}

.nodeSimple{
    background-color: rgb(167, 33, 230);
    width: 5em;
    height: 5em;
    border-radius: 50px;
}

.nodeSimple button{
    background-color: rgb(253, 253, 252);
    border-radius:30px;
    margin-top: 1.5em;
    margin-left: 0.5em;

}

.nodeComplex{
    background-color: rgb(167, 33, 230);
    width: 5em;
    height: 5em;
    border-radius: 50px;
    border-style: solid;
    border-right-color: rgb(16, 19, 5);
    border-left-color: rgb(16, 17, 10);
    border-width: thick;

}

.nodeComplex button{
    background-color: rgb(253, 253, 252);
    border-radius:100px;
    margin-top: 1.5em;
    margin-left: 0.5em;

}

.children{
    font-size: large;
    font-family: cursive;
}

.more{
    background-color: rgb(208, 255, 0);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container-nodes{
    display: flex;
    flex-direction: row;
}

.flex-container-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.flex-container-buttons button{
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(255, 0, 140);
    font-family: cursive;
    font-size: 1.5em;
}

.root{
    margin-right: 3em;
}

.children{
    margin-left: 3em;
}