
.input{
    margin-top: 1em;
    margin-bottom: 1em;
}

.root button{
    border-radius:100px;
    margin-top: 1.5em;
    margin-left: 0.5em;

}

.nodeSimple button{
    background-color: rgb(253, 253, 252);
    border-radius:30px;
    margin-top: 1.5em;
    margin-left: 0.5em;

}


.children{
    font-size: large;
    font-family: cursive;
}


.flex-container-allPage{
    border-width: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30em;
}
.root{
    margin-left: 8em;
    margin-top: 3em;
}
.flex-container-root-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 14em;
    margin-top: 0.5%;
    height: 100%;
}

.flex-container-input-children{
    display: flex;
    flex-direction: column;
}

.flex-container-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-left: 5em;
}

.flex-container-buttons button{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255, 0, 234);
    font-family: cursive;
    font-size: 1.5em;
}

.list-of-children{
    list-style-type: none;
}

