.symbols{
    display: flex;
    flex-direction: row;
}

.symbols div{
    align-items: center;
} 
.exploreScreen{
    padding: 1%;
}


.exploreScreen div{
    width: 100%;
}

.beforeSymbols{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.afterSymbols{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centerSymbol{
    margin-top: 10%;
    margin-left: 3%;
}


.matrix{
    margin-left: 40%;
    margin-top: 3%;
}
.arrows{
    height: 25%;
}
